<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>明星说</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body style="text-align: center;">
<a href="/component/componentAuthorize">点击微信授权</a>
</body>
</html>